
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/images/easteregghunt.jpg');
  min-height: 95%;
  background-position: center;
  background-size: cover;
  filter: grayscale(0.3)
}
.soonMapimg {
  background-image: url('/images/staticmap.jpg');
  background-position: center;
  opacity: 0.3;
}
.mapImg { width:80%;border:solid 1px black;margin:10% }
.aboutImg { width: 80%; padding: 10% }
.iframe { margin-left:10%;border:none;overflow:hidden }
.iframeSmall { border:none;overflow:hidden  }
.expandIcon {background: url(//www.gstatic.com/gmeviewer/images/viewer-icons001.png); padding:10px; margin-left:10px; width: 21px; height: 21px; -webkit-user-select: none;background-position: -22px -23px; background-color:grey;display: inline-block}