
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/images/scarecrows.jpg');
  min-height: 95%;
  background-position: center;
  background-size: cover;
  filter: grayscale(0.3)
}
.soonMapimg {
  background-image: url('/images/staticmap.jpg');
  background-position: center;
  opacity: 0.3;
}
.mapImg { width:100%;border:solid 1px black; }
.aboutImg { width: 80%; padding: 10% }
.iframe { margin-left:10%;border:none;overflow:hidden }
.iframeSmall { border:none;overflow:hidden  }